beautifulsoup4 == 4.9.1
bs4
click
flask
flask-cors
gtts
gunicorn
idna
importlib-metadata
itsdangerous
jinja2
lxml
markupsafe
mongodb-connector
mysql-connector
numpy
pandas
pymongo
pytube
requests
selenium==4.2.0
six
soupsieve
urllib3
werkzeug
xlml











