beautifulsoup4 = 4.9.1
bs4	= 0.0.1
click=7.1.2
flask=1.1.2
flask-cors=3.0.9
gtts=2.2.4
gunicorn=20.0.4
h11=0.13.0
idna=3.4
importlib-metadata=4.12.0
itsdangerous=1.1.0
jinja2=2.11.2
lark-parser=0.12.0	
lxml=4.9.1
markupsafe=1.1.1
mongodb-connector=0.2.0
mysql-connector=2.2.9
ncurses=6.3
numpy=1.21.6
opencv-python=4.1.2.30
pandas
parso=0.7.1
pickleshare=0.7.5
pillow=6.2.1
pip=22.2.2
pymongo=4.2.0
pytube=12.1.0
requests=2.20.1
selenium=4.2.0
setuptools	63.4.1
six	1.15.0
sortedcontainers=2.4.0
soupsieve=2.0.1
sqlite=3.39.2
urllib3=1.26.12
urllib3-secure-extra=0.1.0
werkzeug=1.0.1
xlml=0.1.2
